
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: "Merienda", cursive;
  font-size:40px;
 color:#dfe6f0;

}

body{
  background: #4e4c4c;
 
}

a{
  text-decoration:none;
  color:inherit;
  line-height: 1;
  cursor:pointer;
}


.btn{
background:#120808;
color:#d6e8bf;
padding:14px 25px;
font-size:16px;
border-radius:30px;
cursor:pointer;
border:0;
outline:0;
display: inline-flex;
align-items:center;
justify-content:center;
transition: transform 0.3s;
}
.btn img{
  width:20px;
  margin-left:10px;

}

.btn.dark-btn{
  background: #a3a8d9;
  color:#FFFF;
}

.btn:hover{
  background-color: rgb(218, 71, 68);
 transform:scale(1.3);

}